body {
    padding: 0;
    margin: 0;
}

#todos-app {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 4fr 6fr;
}

.left-half {
    display: grid;
    place-items: center;
    border: 1px solid red;
    background-color: rgb(56, 88, 178);
    border: 0.5rem outset orange;
}

#todo {
    display: grid;
    place-items: center;
    padding: 0.7rem;
    border: 0.5rem ridge rgba(212, 68, 157, 0.833);
    width: 30rem;
}


.block-button {
    display: block;
    width: 20rem;
    text-align: center;
    padding: 0.8rem 0;
    margin: 0.4rem 0;
    border-radius: 5%;
    background-color: rgb(80, 205, 138);
    border: 0.1rem solid burlywood;
    cursor: pointer;
}

#new-task-input {
    cursor: default;
}


#right-half {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr;
    border: 0.4rem outset rgba(231, 63, 44, 0.914);
}



#first-row {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    background: rgba(114, 76, 76, 0.628);
}

#first-row div {
    display: grid;
    place-items: center;
    border: 1px solid pink;
}

#second-row {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 80vh;
    background:  rgb(82, 219, 82);
}


#second-row .tasks-info{
    display: grid; 
    /* funny line grid increases the li area */
    border: 1px solid blue;
}


#tasks-counter {
    display: grid;
    grid-column: span 3;
    grid-template-rows: 10vh;
    place-items: center;
    background-color: rgba(211, 100, 53, 0.947);
}

#right-half #task-details-list,
#right-half #active-tasks-list,
#right-half #completed-tasks-list {
    display: grid;
    grid-template-rows: repeat(auto-fill, 5rem);
}


#right-half #task-details-list > li {
    border: 2px solid pink;
    background-color: aquamarine;
}


#right-half #active-tasks-list > li {
    border: 2px solid rgb(104, 214, 140);
    background-color: rgb(203, 233, 96);
}

#right-half #completed-tasks-list > li {
    border: 2px solid rgb(79, 158, 214);
    background-color: lightcoral;
}

/* Spacing divs */


li {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
} 

li input[type='checkbox'] {
    justify-self: start;
    margin-right: 2rem;
    border-radius: 50% !important;
    width: 1rem;
    height: 1rem;
    border: none;
} 

li button {
    padding: 0.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    justify-self: end;
    visibility: hidden;
} 

/* Hover effect on buttons */

.block-button:hover {
    background-color: rgb(18, 90, 185);
    color: rgb(92, 190, 223);
}


li:hover button {
    visibility: visible;
}

/* Elements css */

h3 {
    width: 10rem;
    padding: 5px;
    text-align: center;
    border: 3px solid white;
    border-radius: 5%;
}

li {
    list-style-type: none;
}